imgaug
pascal-voc-writer
tflite-model-maker-nightly # nightly is used due to issue [1]
pycocotools
opencv-python

# [1] https://discuss.tensorflow.org/t/invalidargumenterror-required-broadcastable-shapes-op-mul/3824/4